#OverallContainer {
  display: flex;
}

#imageContainer {
  margin-top: -10%;
  margin-left: 10%;
  width: max-content;
}

#imageContainer img {
  transform: scaleX(-1);
}

#textOuterContainer {
  margin: auto;
  margin-bottom: 5rem;
}

#textContainer {
  height: max-content;
  right: 10%;
  text-align: right;
}

#construct {
  font-weight: 700;
}

#textOuterContainer sub {
  text-align: right;
}

@media (max-width: 1201px) {
  #imageContainer {
    margin-left: 5rem;
  }
}

@media (max-width:1095px) {
  #textContainer {
    margin-right: 5rem;
  }
}

@media (max-width:950px) {
  #textContainer {
    margin-right: 3rem;
  }
}

@media (max-width: 872px) {

  #textContainer {
    margin-right: unset;
  }

  #imageContainer {
    margin-left: unset;
    margin-top: unset;
    margin: auto;
  }

  #OverallContainer {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 518px) {

  #OverallContainer {
    margin-top: -6rem;
  }
  #imageContainer {
    width: max-content;
    height: max-content;
  }

  #imageContainer img{
    width: 70vw;
  }

  #textOuterContainer {
    margin: auto;
    margin-top: -5rem;
    width: 90%;
  }
}

@media (max-width: 398px) {
  #textOuterContainer {
    margin-top: -7rem;
  }
}

@media (max-width: 346px) {

  #OverallContainer {
    margin-top: -10rem;
  }

  #textOuterContainer {
    margin-top: -9rem;
  }
}