#OverallContainer {
    display: flex;
    /* border: 1px solid black; */
    /* width: 80%; */
}

#imageContainer {
    margin-top: -10%;
    margin-left: 10%;
    width: max-content;
    /* opacity: 0.1; */
   }
   
   #imageContainer img {
     transform: scaleX(-1);
   }

   #textOuterContainer {
    /* border: 1px solid red; */
    margin: auto;
    margin-bottom: 5rem;

   }

   #textContainer {
    /* border: 1px solid black; */
    height: max-content;
    right: 10%;
    text-align: right;
   }

   #construct {
    font-weight: 700;
   }

   #textOuterContainer sub {
    text-align: right;
    /* border: 1px solid red; */
   }