#heroContainer {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#heroTextContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#frontend {
  width: 80%;
  text-align: left;
  margin: auto;
}

#developerDiv {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1200%;
  font-size: 12em;
  min-height: 11rem;
  max-height: 11rem;
  width: 80%;
  margin: auto;
  z-index: 1;
}

#developerDiv span {
  display: inline-block;
  cursor: pointer;
  transition: font-size 0.8s ease;
  border: 1px solid black;
}

#developerDiv span:hover {
  font-size: 1.1em;
}

#oludamolaOni {
  text-align: right;
  width: 80%;
  margin: auto;
}

