#navbarcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

#menu {
    display: flex;
    gap: 2rem;
}

#menu span , #logo{
    cursor: pointer;
}